
             
        h1{
            color:rgb(255, 127, 206);
            font-size: 50px;
            text-transform: uppercase;
        } 
        h2{
            color:rgb(127, 136, 255);
            font-size: 60px;
            text-transform: lowercase;
        } 
        h3{
            color:rgb(255, 127, 223);
            font-size: 60px;
            text-transform: lowercase;
        }
        .classSelector{
            color:blueviolet;
            font-size: 60px;
            text-transform: lowercase;
            text-decoration: underline;
        }
        #header {
            color:chocolate;
            font-size:60px;
        }
